<!-- <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active">
        <i class="fa-brands fa-product-hunt"></i> Products
    </li>
    </a> -->
<!-- <app-navbar.></app-navbar.> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="  align-content-xl-end d-flex">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">
                    <i class="fa-solid fa-address-card"></i> Register
                </a>
            </li> -->
            <div class="cartlink">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart" routerLinkActive="active">
                        <i class="fa-solid fa-cart-plus"></i> Cart ({{ cartItemCount }})
                    </a>
                </li>
            </div>
            <div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">
                        <i class="fa-solid fa-right-to-bracket"></i> Login
                    </a>
                </li>

            </div>
            <!-- <li class="nav-item"> -->
            <!-- <a class="nav-link" routerLink="/buy" routerLinkActive="active">
                    <i class="fa-solid fa-right-to-bracket"></i> buy
                </a>
            </li> -->
        </ul>
    </div>
</nav>