<div *ngIf="product" class="product-details-container">
    <div class="row">
        <div class="col-md-6 image-container">
            <img [src]="product.images[0]" class="w-100" alt="{{ product.title }}">
        </div>

        <div class="col-md-6 details-container">
            <h2 class="mt-5">{{ product.title }}</h2>
            <p class="text-muted">{{ product.description }}</p>

            <div class="rating">
                <ng-container *ngFor="let _ of [].constructor(getStars(product.rating).full)">
                    <i class="fa-solid fa-star"></i>
                </ng-container>
                <ng-container *ngIf="getStars(product.rating).half">
                    <i class="fa-solid fa-star-half-alt"></i>
                </ng-container>
                <ng-container
                    *ngFor="let _ of [].constructor(5 - getStars(product.rating).full - (getStars(product.rating).half ? 1 : 0))">
                    <i class="fa-regular fa-star"></i>
                </ng-container>
            </div>

            <hr>

            <p [ngClass]="getStockStatusClass()">{{ getStockStatus() }}</p>

            <p *ngIf="product.discountPercentage > 0" class="price">
                Discounted Price: {{ product.price | discountPrice: product.discountPercentage }} EGP
            </p>
            <p *ngIf="product.discountPercentage === 0" class="price">{{ product.price }} EGP</p>

            <div class="category-box">
                <p class="category-title">Category:</p>
                <p class="category-content">{{ product.category }}</p>
            </div>

            <hr>
            <div class="d-flex mb-3 quantity-controls">
                <button class="btn btn-outline-secondary" type="button" (click)="decreaseQuantity()">-</button>
                <input type="text" class="form-control text-center mx-2" [value]="quantity" readonly>
                <button class="btn btn-outline-secondary" type="button" (click)="increaseQuantity()">+</button>
                <p class="ms-3"><strong>Only <span class="text-danger">{{ product.stock }} items</span> left</strong>
                </p>
            </div>
            <button class="btn btn-warning btn-lg" routerLink="/cart" routerLinkActive="active"
                (click)="addToCart()">Add to Cart</button>
        </div>
    </div>
</div>